p {
  text-align: justify;
}
.codeblock, pre.literal-block, .rst-content .literal-block, .rst-content pre.literal-block, div[class^='highlight'] {
    border-radius: 3px !important;
    position: relative;
    /* make sure copy tooltip can be seen */
    overflow: visible;
}
.highlight .copy-btn {
    background: url('clippy.svg') no-repeat;
    background-size: 20px 20px;
    background-position: center;
    width: 24.5px;
    height: 24.5px;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    opacity: 0.5;
    padding: 2px 6px;
    position: absolute;
    right: 4px;
    top: 4px;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #ddd;
    border: 0px;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none
}

.copy-btn:focus {
    text-decoration: none;
    border-color: #51a7e8;
    outline: none;
    box-shadow: 0 0 5px rgba(81,167,232,0.5)
}

.copy-btn:focus:hover,.copy-btn.selected:focus {
    border-color: #51a7e8
}

.copy-btn:hover,.copy-btn:active,.copy-btn.zeroclipboard-is-hover,.copy-btn.zeroclipboard-is-active {
    text-decoration: none;
    background-color: #ddd;
    border-color: #ccc
}

.copy-btn:active,.copy-btn.selected,.copy-btn.zeroclipboard-is-active {
    background-color: #dcdcdc;
    background-image: none;
    border-color: #b5b5b5;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15)
}

.copy-btn.selected:hover {
    background-color: #cfcfcf
}

.copy-btn:disabled,.copy-btn:disabled:hover,.copy-btn.disabled,.copy-btn.disabled:hover {
    color: rgba(102,102,102,0.5);
    cursor: default;
    background-color: rgba(229,229,229,0.5);
    background-image: none;
    border-color: rgba(197,197,197,0.5);
    box-shadow: none
}

.highlight:hover .copy-btn {
    opacity: 1;
}

/* tooltip styles taken from Primer and edited */
.tooltipped {
    position: relative
}

.tooltipped:after {
    position: absolute;
    z-index: 1000000;
    display: none;
    padding: 2px 6px;
    font: normal normal 11px/1.5 Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    content: attr(aria-label);
    background: rgba(0,0,0,0.8);
    border-radius: 2px;
    -webkit-font-smoothing: subpixel-antialiased
}

.tooltipped:before {
    position: absolute;
    z-index: 1000001;
    display: none;
    width: 0;
    height: 0;
    color: rgba(0,0,0,0.8);
    pointer-events: none;
    content: "";
    border: 5px solid transparent
}

.tooltipped:hover:before,.tooltipped:hover:after,.tooltipped:active:before,.tooltipped:active:after,.tooltipped:focus:before,.tooltipped:focus:after {
    display: inline-block;
    text-decoration: none
}

.tooltipped-multiline:hover:after,.tooltipped-multiline:active:after,.tooltipped-multiline:focus:after {
    display: table-cell
}

.tooltipped-s:after,.tooltipped-se:after,.tooltipped-sw:after {
    top: 100%;
    right: 50%;
    margin-top: 5px
}

.tooltipped-s:before,.tooltipped-se:before,.tooltipped-sw:before {
    top: auto;
    right: 50%;
    bottom: -5px;
    margin-right: -5px;
    border-bottom-color: rgba(0,0,0,0.8)
}

.tooltipped-se:after {
    right: auto;
    left: 50%;
    margin-left: -15px
}

.tooltipped-sw:after {
    margin-right: -15px
}

.tooltipped-n:after,.tooltipped-ne:after,.tooltipped-nw:after {
    right: 50%;
    bottom: 100%;
    margin-bottom: 5px
}

.tooltipped-n:before,.tooltipped-ne:before,.tooltipped-nw:before {
    top: -5px;
    right: 50%;
    bottom: auto;
    margin-right: -5px;
    border-top-color: rgba(0,0,0,0.8)
}

.tooltipped-ne:after {
    right: auto;
    left: 50%;
    margin-left: -15px
}

.tooltipped-nw:after {
    margin-right: -15px
}

.tooltipped-s:after,.tooltipped-n:after {
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%)
}

.tooltipped-w:after {
    right: 100%;
    bottom: 50%;
    margin-right: 5px;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%)
}

.tooltipped-w:before {
    top: 50%;
    bottom: 50%;
    left: -5px;
    margin-top: -5px;
    border-left-color: rgba(0,0,0,0.8)
}

.tooltipped-e:after {
    bottom: 50%;
    left: 100%;
    margin-left: 5px;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%)
}

.tooltipped-e:before {
    top: 50%;
    right: -5px;
    bottom: 50%;
    margin-top: -5px;
    border-right-color: rgba(0,0,0,0.8)
}

.tooltipped-multiline:after {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 250px;
    word-break: break-word;
    word-wrap: normal;
    white-space: pre-line;
    border-collapse: separate
}

.tooltipped-multiline.tooltipped-s:after,.tooltipped-multiline.tooltipped-n:after {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 47%;
    padding: 10px;
    height: 525;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

/* Let try-galpy fill the entire space. First Need to correct everything else 
to usual 800 px */
p, div.warning, div[class^="toctree-"], 
div.section:not(#welcome-to-galpy-s-documentation) {
max-width: 800px;
}
/* Then let the try-galpy section extend fully */
div.body,  div.section#try-galpy {
    max-width: 95%;
}

/* Activate try-galpy block */
div#activate-try-galpy {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 525px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3f3f4+0,d5d6d7+100 */
    background: rgb(243,243,244); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(243,243,244,1) 0%, rgba(213,214,215,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,243,244,1)), color-stop(100%,rgba(213,214,215,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(243,243,244,1) 0%,rgba(213,214,215,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(243,243,244,1) 0%,rgba(213,214,215,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(243,243,244,1) 0%,rgba(213,214,215,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(243,243,244,1) 0%,rgba(213,214,215,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f4', endColorstr='#d5d6d7',GradientType=0 ); /* IE6-9 */
}

/* Styling of the activate try galpy button */
.activatetrygalpybutton {
    background-color:#ffffff;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    border-radius:16px;
    border:1px solid #7d7878;
    display:inline-block;
    cursor:pointer;
    color:#7d7878;
    font-family:Courier;
    font-size:17px;
    padding:8px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.activatetrygalpybutton:hover {
    background-color:#ffffff;
}
.activatetrygalpybutton:active {
    position:relative;
    top:1px;
}
.activatetrygalpybutton:focus{
    outline:0;
}