language: python
python:
  - "2.7"
  - "3.4"
#  - "3.3"
#env: #Doesn't seem to work terribly well
#  - CC=gcc
#  - CC=clang LDSHARED=clang
env: #split tests
   - NOSE_IGNORE_FILES='test_qdf|test_pv2qdf|test_diskdf|test_orbit|test_streamdf|test_evolveddiskdf|test_nemo'
   - NOSE_IGNORE_FILES='^((?!test_orbit).)*$'
   - NOSE_IGNORE_FILES='^((?!test_evolveddiskdf).)*$'
   - NOSE_IGNORE_FILES='^((?!test_diskdf).)*$'
   - NOSE_IGNORE_FILES='^((?!test_qdf).)*$'
   - NOSE_IGNORE_FILES='^((?!test_pv2qdf).)*$'
   - NOSE_IGNORE_FILES='^((?!test_streamdf).)*$'
#virtualenv:
#  system_site_packages: true
before_install:
 - sudo apt-get update
 - sudo apt-get install libgsl0-dev
 - sudo apt-get -qq install lcov
 #Setup conda for faster installs
 - wget http://repo.continuum.io/miniconda/Miniconda-3.7.3-Linux-x86_64.sh -O miniconda.sh
 - bash miniconda.sh -b -p $HOME/miniconda
 - export PATH="$HOME/miniconda/bin:$PATH"
 - hash -r
 - conda config --set always_yes yes --set changeps1 no
 - conda update -q conda
 - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION numpy scipy matplotlib setuptools pip
 - source activate test-environment
# - pip uninstall -y numpy #uninstall numpy from virtualenv
# - sudo dpkg -r --force-depends python-numpy #because this is 1.6.1
# - sudo dpkg -r --force-depends python-scipy #because this is old
# - pip install numpy>=1.7
# - pip install -v scipy>=0.14
# - sudo apt-get install -qq python-matplotlib
 - export DISPLAY=:99.0 #For plotting tests, courtesy Ryan Varley
 - sh -e /etc/init.d/xvfb start $For plotting tests
#Download corrections for some tests
 - curl -O https://cloud.github.com/downloads/jobovy/galpy/galpy-dfcorrections.tar.gz
 - tar xvzf galpy-dfcorrections.tar.gz -C ./galpy/df_src/data/
# command to install dependencies
install:
 - pip install nose-cov
 - pip install coveralls-merge
 - gem install coveralls-lcov
 - easy_install --upgrade requests
 - easy_install --upgrade coveralls
 - python setup.py build_ext --coverage --single_ext --inplace
 - python setup.py develop --single_ext
script:
 - nosetests -v -w nose/ --with-cov --cov galpy --cov-config .coveragerc_travis
after_success:
 # Generate lcov output 
 - lcov --capture --base-directory . --directory build/temp.linux-x86_64-2.7/galpy/ --output-file coverage.info
 # combine, generate json, and upload
 - coveralls-lcov -v -n coverage.info > coverage.c.json
 - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then coveralls-merge coverage.c.json; fi
# - coveralls
notifications:
  email:
    recipients:
      - jo.bovy@gmail.com
    on_success: change
    on_failure: change
