include README.rst README.dev README.nemo LICENSE HISTORY.txt AUTHORS.txt
include gsl-config.bat
include galpy/df/data/*.sav
include galpy/actionAngle/actionAngle_c_ext/*.h
include galpy/actionAngle/actionAngleTorus_c_ext/*.h
include galpy/orbit/orbit_c_ext/*.h
include galpy/potential/potential_c_ext/*.h
include galpy/util/*.h
include galpy/util/interp_2d/*.h
